[submodule "engine/libs/portaudio"]
	path = engine/libs/portaudio
	url = https://git.assembla.com/portaudio.git
[submodule "engine/libs/stb"]
	path = engine/libs/stb
	url = https://github.com/nothings/stb.git
[submodule "engine/libs/zlib"]
	path = engine/libs/zlib
	url = https://github.com/madler/zlib.git
[submodule "engine/libs/vectorial"]
	path = engine/libs/vectorial
	url = https://github.com/scoopr/vectorial
[submodule "engine/libs/trex"]
	path = engine/libs/trex
	url = https://github.com/kimperator/T-Rex.git
[submodule "engine/libs/glfw3"]
	path = engine/libs/glfw3
	url = https://github.com/glfw/glfw.git
