[submodule "engine/libs/portaudio"]
	path = engine/libs/portaudio
	url = https://git.assembla.com/portaudio.git
[submodule "engine/libs/stb"]
	path = engine/libs/stb
	url = https://github.com/nothings/stb.git
[submodule "engine/libs/SDL2"]
	path = engine/libs/SDL2
	url = https://github.com/spurious/SDL-mirror.git
[submodule "engine/libs/zlib"]
	path = engine/libs/zlib
	url = https://github.com/madler/zlib.git
